aioconsole==0.3.1
aiodns==3.0.0
aiohttp==3.7.4.post0
anyio==3.3.0
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
debugpy==1.4.1
htmlmin==0.1.12
nest-asyncio==1.5.1
pynput==1.7.3
pypi==2.1
slixmpp==1.7.1
sniffio==1.2.0